@import "tailwindcss";

/* 自定义书法字体 */
@font-face {
  font-family: 'ZhengQing';
  src: url('/fonts/ZhengQingKeNanBeiCiGongPuSongTi-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZhenZong';
  src: url('/fonts/ZhenZongShengDianKaiShu-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YingZhui';
  src: url('/fonts/YingZhuiXingShu-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YiShan';
  src: url('/fonts/YiShanBeiZhuanTi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aoyagi';
  src: url('/fonts/aoyagireisyosimo-ttf-2-01-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
