@import "tailwindcss";

/* 自定义书法字体 */
@font-face {
  font-family: 'ZhengQing';
  src: url('/fonts/ZhengQingKeNanBeiCiGongPuSongTi-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LiuJianMaoCao';
  src: url('/fonts/LiuJianMaoCao-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaShanZheng';
  src: url('/fonts/MaShanZheng-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZhiMangXing';
  src: url('/fonts/ZhiMangXing-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
